---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="CHANGELOG">
  <div class="page">
    <h1>更新日志</h1>


    
    <h2>[1.0.0] - 2025-12-31</h2>
    <h3>新增</h3>
    <p>
      * 一篇博文，再见了，所有的2025
    </p>
    <p>
      * 单击图片可以放大
    </p>
    <h3>优化</h3>
    <p>
      * 调整了字体大小与字间距，使其适合阅读
    </p>
    <p>
      * 调整了引用块的样式
    </p>
  </div>
</BaseLayout>

<style>
  .page {
    max-width: 760px;
    margin: 0 auto;
  }
</style>