---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="paradoxyz.space">
  <div class="index-content framed">
    <h1 id="hello-there">Hello there!</h1>
    <p>欢迎来到 paradoxyz.space! (●'◡'●)</p>
    <figure>
     <img src="/img/home.png" alt="Celeste Summit Ending">
        <figcaption>
          <p>Celeste!</p>
        </figcaption>
    </figure>
  </div>
  
  <div class="posts">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>